{% extends 'auctions/layout.html' %}
{% load static %}
{% load humanize %}

{% block link %}
<link rel="stylesheet" href="{% static 'auctions/listing.css' %}">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}


{% block body %}
<div class="container-fluid border  border-danger">
    <div class="row">
        <h2>{{list.title}}</h2>
        <div>
            {% if list.isActive %}
            <span class="badge badge-pill badge-success"> Active</span>
            {% elif bid_info.isFinished %}
            <span class="badge badge-pill badge-warning">Finished</span>
            {% else %}
            <span class="badge badge-pill badge-secondary">Inactive</span>
            {% endif %}
        </div>
        <div class="listing row col-lg-9 d-flex flex-row">
            <div class="img-container col-lg-6">
                <img src="{{list.url}}" alt="{{list.title}}" class="img-fluid rounded">
            </div>
            <div class="border col-lg-6 ">
                <p class="h4 ">Description</p>
                <p class="lead">{{list.description}}</p>
                <p>

                </p>
                <div class="bid-container">
                    <small class="form-text text-muted">Current Bid</small>
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg">₹</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Current Bid"
                            aria-describedby="inputGroup-sizing-lg" value="{{list.price | intcomma}}" readonly>
                    </div>
                    <p>
                        {% if user.is_authenticated %}
                        {% if not owner and list.isActive %}
                        {% if list.price != bid_info.bid_amount %}
                        <small class="form-text text-muted">Be the first one to bid</small>
                        {% else %}
                        <small class="form-text text-muted">Previous Bid : ₹ {{bid_info.bid_starting_amt}}</small>
                        {% endif %}
                        {% else %}
                        <small class="form-text text-muted">you are the owner</small>
                        {% endif %}
                        {% endif %}
                    </p>
                    {% if user.is_authenticated %}
                    <div class="d-flex flex-row-reverse">
                        {% if Iswatchlist %}
                        <a href="{% url 'remove_watchlist_item' list.id %}" class="p-2"><button
                                class="btn btn-danger">Remove from
                                Watchlist</button></a>
                        {% else %}

                        <a href="{% url 'add_to_watchlist' list.id %}" class="p-2"><button class="btn btn-primary">Add
                                to Watchlist</button></a>

                        {% endif %}
                        {% endif %}
                    </div>
                </div>

                <div class="lower-icons">
                    <h5>
                        <span class="badge badge-pill badge-warning"><span class="icon"><ion-icon
                                    name="pricetag"></ion-icon></span> {{list.theme.category}} Category</span>
                        <span class="badge badge-pill badge-info"><span class="icon"><ion-icon
                                    name="person-circle-outline"></ion-icon></span> Owned by
                            {{list.owner|capfirst}}</span>

                    </h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 border">
            {% if user.is_authenticated %}
            {% if owner %}
            <div class="bid_direct">
                {% if list.isActive %}
                <form action="{% url 'disable_bid' list.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Finish Bid" class="btn btn-danger bid_direct">
                </form>
                <div>
                    show largest bid
                    bidder info
                    bidder amount == price
                </div>
                {% elif bid_info.isFinished %}
                <h5>Bid won by {{bid_info.bidder.username}}</h5>
                <h5>Bid : {{list.price}}</h5>
                {% else %}
                <form action="{% url 'enable_bid' list.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Start Bid" class="btn btn-success bid_direct">
                </form>
                {% endif %}
            </div>
            {% elif bid_info.isFinished %}
            {% if bid_info.bidder.username == request.user.username %}
            <div class="bid_direct">
                <h4>You won this Bid</h4>
            </div>

            {% else %}
            <h4>This bid is won by {{bid_info.bidder.username | capfirst}}</h4>
            {% endif %}
            {% else %}
            <div class="place-bid">
                <p class="h4">Start Bidding</p>
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">
                        Bid
                    </button>
                </p>
                <!-- message start -->
                <p>
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% else %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                </p>
                <!--messge end  -->
                <!--Bid function  -->
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <form action="{% url 'place_bid' list.id %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputEmail1">Enter Bid Amount</label>
                                <input type="number" name="bid_amount" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" required>
                                <small id="emailHelp" class="form-text text-muted">Bid must be greater than current
                                    amount</small>
                                <input type="submit" value="Place Bid" class="btn btn-primary float-right">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
            {% else %}
            <div class="bid_direct">
                <a href="{% url 'login' %}" class="btn btn-primary">Log in to Bid</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Comments</h4>
            <div class="container">
                <form action="{% url 'post_comments' list.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Write Comment</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment"
                            required></textarea>
                    </div>
                    <input type="submit" name="submit_comment" class="btn btn-primary">
                </form>
            </div>
            <!-- comments -->
            <div class="container">
                <div class="row d-flex flex-row d-flex justify-content-center">
                    {% for comment in comments %}
                    <div class="col-lg-8 col-sm-3 comment-container">
                        <div class="card">
                            <div class="card-body">
                                {% if comment.listing.owner.username == comment.user.username %}
                                <h5 class="card-title">{{comment.user.username | capfirst}} <span
                                        class="badge badge-pill badge-info" style="font-size: 12px;">Owner</span></h5>
                                {% else %}
                                <h5 class="card-title">{{comment.user.username | capfirst}} </h5>
                                {% endif %}
                                <p class="card-text">{{comment.comment}}
                                </p>
                                <footer class="blockquote-footer">Created at <cite
                                        title="Source Title">{{comment.created_at}}</cite></footer>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}