*{
    margin:1px;
    padding: 1px;
}

.listing-items{
    border: 2px solid red;
    width: 100%;
}

.listing-entry{
    /* border: 2px solid black !important; */
    margin: 5px;


}
.item-img{
    float: left;
    /* border: 2px solid red; */
} 

.content{
    /* border:2px dotted blue; */
    float: right;

}
.container{
    margin: 1px;
    padding: 1px;
}
.img-flex{
    /* border: 2px dotted royalblue; */
    /* display: flex;
    align-items: center;  */
}