*{
    margin:0px;
    padding: 0px;
}

/* .listing-container{
}

*/
.listing-entry{
    /* border: 2px solid black; */
    margin: 5px;

}
.item-img{
    float: left;
    /* border: 2px solid red; */
} 

.content{
    /* border:2px dotted blue; */
    float: right;

}